@{
    ViewData["Title"] = "Não autorizado";
}
<h1>Não Autorizado</h1>
<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Voltar</a>
<a class="btn btn-primary" asp-controller="Home" asp-action="Logout">Logout</a>
