@model Financas.Models.Conta
@{
    ViewData["Title"] = "Login";
}
<form class="card m-auto p-2 require-validation" method="post">
    <div class="mb-3">
        <label class="form-label">Login:</label>
        <input asp-for="Login" type="text" class="form-control required"/>
        <div class="invalid-feedback">
            O campo deve ser preenchido.
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Senha:</label>
        <input asp-for="Senha" type="password" class="form-control required compare"/>
        <div class="invalid-feedback feedback-compare">
            O campo deve ser preenchido.
        </div>
    </div>
    <div class="form-check">
        <input class="form-check-input" name="remember" id="checkRemember" value="true" type="checkbox" />
        <label class="form-check-label" for="checkRemember">Lembrar meu login</label> 
    </div>
    <div class="mb-3">
        <a asp-action="Create">Criar uma conta.</a>
    </div>
    <div class="mb-3 d-flex justify-content-center">
        <input type="submit" class="btn btn-primary w-50" value="Login"/>
    </div>
</form>
